.fieldName, .reqTextField {
    display: inline-block;
}

.fieldName {
    margin: 10px 15px 10px 0px;
    width: 85px;
    font-size: 1em;
    text-align: right;
}

.reqTextField {
    width: 230px;
    margin: 10px 5px;
    padding: 6px;
    border: 2px solid #6f6;
    font-size: .9em;
}

.invalidWarning {
  display: none;
  color: #f01010;
}

.submitBtn {
    margin: 10px 5px 5px 265px;
    padding: 5px 12px;
    background-color: #fff;
    border: 2px solid #0333bb;
    font-size: 1em;
    font-weight: bold;
    color: #0333bb;
}

.error {
    height: 20px;
    margin-top: 15px;
    font-size: .9em;
    color: #f01010;
}

.tooltipIcon {
    width: 20px;
    height: 20px;
    vertical-align: -5px;
    display: inline-block;
}

.tooltip {
    display: none;
    width: 260px;
    margin: 0px 0px 0px 108px;
    font-size: .8em;
    color: #f01010;
}