#wrapper {
	width: 950px;
	margin: 0 auto;
	padding: 10px 10px;
	background-color: #fff;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#nav {
	width: 970px;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 0;
	background-color: #96C6C8;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	text-align: right;
}

#nav a {
	display: inline-block;
	margin: 20px 15px;
}

#contentLeft {
	width: 280px;
	margin-top: 10px;
	float: left;
}

#contentRight {
	width: 650px;
	margin-top: 10px;
	float: left;
}
