article {
    margin: 15px 0;
    padding: 5px 0;
    background-color: #ddf;
}

.postLeft {
    width: 120px;
    float: left;
    background-color: #ddf;
    text-align: center;
}

.postRight {
    width: 85%;
    background-color: #dfd;
    float: left;
}

.postRight p {
    margin: 15px 0;
}

.profilePic {
    display: block;
    width: 68px;
    height: 68px;
    margin: 5px auto;
    background-color: red;
}

time {
    display: block;
    text-align: right;
    font-size: .7em;
}