* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	background-color: #ccfafc;
	font-family: Arial, sans-serif;
	color: #333;
}

h1 {}
h2 {margin: 0 0 15px 0; font-size: 1.5em}
h3 {}
h4 {}

p {
	margin: 0 0 15px 0;
	font-size: 1em;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	font-size: 1em;
	color: #417D7F;
}

a:hover, a:active {
	color: #ccfafc;
}

#nav a {
	display: inline-block;
	margin: 18px 15px;
}

.clearfloat {
	height: 0px;
	clear: both;
}

#welcomeBot {
	display: block;
	margin: 45px;
}
